*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: inherit;
}
body{
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    justify-content: center;
    */
    background: #FFFFFF ;
    color: white;

    width: 100vw;
    height: 100vh;

    /* vw   vh */
    /* view width      view height*/
}

form{
    width: 75vw;
    height: 75vh;

    background-color: #000;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: flex-end;

    padding: 100px;
    border-radius: 0px 0px 200px 0px;
}

/*

justify-content

align-items

*/